body
{
	margin:0;
	padding:0;
	border:0;
	background-image:url('../images/bg.png');
	background-repeat:repeat;
	height:100%;
	background-attachment:fixed;
}
.shell_bgdetail
{
	overflow:hidden;
	background-image:url('../images/bgdetail.png');
	margin:0 auto;
	padding:0px;
	width:1394px;
	height:783px;
}
.bgdetail
{
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
}
.container
{
	max-width:988px;
	width:100%;
	position:relative;

	background-image:url('../images/pagetile.png');
	background-repeat:repeat-y;
	font-family:Arial;
	font-size:medium;
	overflow:hidden;
}
.container form
{
	margin:50px 50px 50px 50px;
}
.break
{
	background-image:url('../images/break.gif');
	background-repeat:repeat-x;
	max-width:880px;
	width:80%;
	height:2px;
	border-collapse:collapse;
	margin:0 auto;
}
.container .text_holder
{
	padding: 0 60px 0 70px;
	color:#2d2d2d;
	margin:0 0 0 0;
}

.text_holder p 
{
	margin:8px;
}
.text_holder h4 
{
	margin:8px;
}

.container b
{
	color:#2d2d2d;
}
.form_container form
{
	padding:50px 50px 0px 0px;
	

}

.projectBanner img
{
	display:block;
	margin: 0 auto;
	padding: 20px 20px;
}
.form_container
{
	background-image:url('../images/contactus.png');
	width:648px;
	height:694px;
	margin: 0 auto;
}
.form_element
{
	padding:0 0 0 112px;
}
.form_element span
{
	color:#CC0000;
	font-weight:bold;
}
.shell_header
{
	width:100%;
	background:#2c2c2c;
	position:fixed;
	z-index: 500;
}
.header
{
	border-collapse:collapse;
	width:100%;
	max-width:988px;
	min-width:530px;
	margin:0 auto;
	padding:0px;

}
.header img
{
	width:82px;
	height:24px;
	float:left;
	padding-left: 24px;
	padding-top: 4px;
	display:block;
	border:0;
}
.header li
{
	margin-top:10px;
	margin-right:28px;
	float:right;
	text-decoration:none;
	display:block;
}
.header a
{
	text-decoration:none;
	display:block;
	
}
.header ul
{
	padding:0;
}
.banner
{
	margin: 35px auto 0; 
	width: 960px;
	height:215px;
}
.shell_footer
{
	background:#2c2c2c;
	position: relative;
	width:100%;
}
.footer
{
	max-width: 988px;
	width:100%;
	margin: 0 auto;
	overflow:hidden;
}
.footer p
{
	padding: 5px 0 0 0;
	position:relative;
	margin: 0 auto;
	text-align:center;

}
.footer a
{
	outline-width:0px;
}
.footer img
{
	margin:0 0 -3px 2px;
	border:0;
}
.wbox
{
	
}
.wbox a
{
	font-family:Gautami;
	font-size:medium;
	color:white;
	text-decoration:none;
	width:190px;
	height:190px;
	background-color:gray;
	float:left;
	text-align:center;
	margin:20px 0px 20px 45px;
}
.wbox p
{
	text-decoration:none;
	width:192px;
	height:192px;
	float:left;
	text-align:center;
	margin:20px 0px 70px 106px;
}